{% extends 'blog/base.html' %}

{% load static %}

{% block content %}


{#    <div>#}

{#    </div>#}
    <div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
          <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
      </form>
    </div><br/>
  {% if uploaded_file_url %}
{#    <p>File uploaded at: <a id="urls" href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>#}

      <div>
        <a class="btn btn-outline-info mb-4" href="{% url 'blog-reading' %}">go to analysis</a>
        <small>copy the link and go to analysis</small>
      </div>

  {% endif %}
    <p>{{ filename }}</p><br/>


    {% if us == False %}
        <a class="btn btn-outline-info mb-4" href="{% url 'login' %}">go to login</a>
        <p>Please, Login Your Account</p>
    {% endif %}

{% endblock %}